
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.kanban-board {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}



.kanban-card {
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: left;
  transition: background-color 0.3s;
}

.kanban-card:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .kanban-board {
    flex-direction: column;
    align-items: center;
  }

  .kanban-column {
    width: 90%;
    margin-bottom: 20px;
  }
}

:root {
  --card-margin: 10px;
  --card-padding: 15px;
}
